@import url("./variables.css");

/* HEADER SECTION */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 8rem;
	padding: 2rem;
	margin-bottom: 2rem;
}

.header__logo-box {
	padding: 1rem 2rem;
}

.header__logo {
	font-size: 2.5rem;
	font-weight: 700;
}

.header__logo::first-letter {
	text-decoration: underline;
}

.header__nav {
	padding: 1rem 2rem;
}

.header__nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.header__nav-item {
	display: flex;
	margin-right: 3rem;
	font-size: 1.5rem;
}

.header__nav-item:last-of-type {
	margin-right: 0;
}

.header__nav-item:hover {
	color: var(--dark-color-text);
}

.header__account-actions {
	padding: 1rem 2rem;
}

.header__btn {
	cursor: pointer;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-weight: 500;
	transition: all 0.5s ease;
}

.header__btn:first-of-type {
	margin-right: 1rem;
}

.header__btn:focus {
	outline: none;
}

.signup-btn {
	background-color: var(--blackbg);
	color: var(--light-color-text);
}

.signup-btn:hover {
	background-color: var(--light-color-text);
	color: var(--black-text);
}

.login-btn {
	border: 2px solid var(--blackbg);
	background-color: inherit;
	color: inherit;
}

.login-btn:hover {
	border-color: transparent;
	background-color: var(--blackbg);
	color: var(--light-color-text);
}
